:root {
    --primary-font: "Montserrat", sans-serif;
    --title-font: "Seymour One", sans-serif;
    --axent-colour: #F8D24E;
    --dark-font-color: #131313;
    --white-font-color: #FCFCFC;
    --background-color: #84A178;
}