<section class="container contacts">
  <h2 id="Contacts" class="visually-hidden">Contacts</h2>
  <ul class="contacts__box">
    <li class="contacts__item">
      <span class="contacts__institution">CAFE</span>
      <address>
        <p class="contacts__titel contacts__titel--padding">Chicago</p>
        <a
          href="https://goo.gl/maps/TXYjtW5wJCvLRxoq7"
          target="_blank"
          rel="noopener noreferrer"
          class="contacts__link"
          >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
        >
      </address>

      <div class="contacts__wrap">
        <ul class="contacts__list">
          <li class="contacts__day">
            <p class="contacts__titel">Monday - Friday</p>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__day">
            <p class="contacts__titel">Saturday - Sunday</p>
            <p class="contacts__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
      </div>
      <address>
        <ul>
          <li>
            <a href="tel:+61(0)383766284" class="contacts__phone"
              >+61(0) 383 766 284</a
            >
          </li>
          <li>
            <a href="mailto:noreply@envato.com" class="contacts__phone"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </address>
    </li>
    <li class="contacts__item">
      <span class="contacts__institution">FOOD TRUCK</span>
      <address>
        <p class="contacts__titel contacts__titel--padding">Los Angeles</p>
        <a
          href="https://goo.gl/maps/3B1xyM237xTzdb48A"
          target="_blank"
          rel="noopener noreferrer"
          class="contacts__link"
          >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
        >
      </address>
      <div class="contacts__wrap">
        <ul class="contacts__list">
          <li class="contacts__day">
            <p class="contacts__titel">Monday - Friday</p>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__day">
            <p class="contacts__titel">Saturday - Sunday</p>
            <p class="contacts__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
      </div>
      <address>
        <ul>
          <li>
            <a href="tel:+61(0)383766284" class="contacts__phone"
              >+61(0) 383 766 284</a
            >
          </li>
          <li>
            <a href="mailto:noreply@envato.com" class="contacts__phone"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </address>
    </li>
    <li class="contacts__item">
      <span class="contacts__institution">CAFE</span>
      <address>
        <p class="contacts__titel contacts__titel--padding">New York</p>
        <a
          href="https://goo.gl/maps/UvD6vmXRaPco7hLy9"
          target="_blank"
          rel="noopener noreferrer"
          class="contacts__link"
          >726 Sterling Pl, Brooklyn, NY 11222, USA</a
        >
      </address>
      <div class="contacts__wrap">
        <ul class="contacts__list">
          <li class="contacts__day">
            <p class="contacts__titel">Monday - Friday</p>
            <p class="contacts__time">06:00 AM - 10:00 PM</p>
          </li>
          <li class="contacts__day">
            <p class="contacts__titel">Saturday - Sunday</p>
            <p class="contacts__time">08:00 AM - 16:00 PM</p>
          </li>
        </ul>
      </div>
      <address>
        <ul>
          <li>
            <a href="tel:+61(0)383766284" class="contacts__phone"
              >+61(0) 383 766 284</a
            >
          </li>
          <li>
            <a href="mailto:noreply@envato.com" class="contacts__phone"
              >noreply@envato.com</a
            >
          </li>
        </ul>
      </address>
    </li>
  </ul>
  <ul class="button">
    <li class="button__item">
      <button class="button__dark" type="button">
        Our Locations
        <img class="button__img" src="./images/arrow.png" alt="png" />
      </button>
    </li>
    <li class="button__item">
      <button class="button__light" type="button">
        Franchise
        <img class="button__img" src="./images/arrow.png" alt="png" />
      </button>
    </li>
  </ul>
</section>
