<section class="section__products">
  <div class="container products--container">
    <p class="products__label">100% natural</p>
    <h2 class="products__main-title">products</h2>
    <ul class="products">
      <li class="products__item products__item--pink">
        <div class="box">
          <picture>
            <source
              srcset="
                ./images/desktop/product1.png    1x,
                ./images/desktop/product1@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/tablet/product1.png    1x,
                ./images/tablet/product1@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/mobile/product1.png    1x,
                ./images/mobile/product1@2x.png 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="./images/mobile/product1.png"
              alt="product1"
              class="products__photo"
            />
          </picture>

          <h3 class="products__title">ice cream</h3>
          <p class="products__paragraph">
Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer

          </p>
        </div>
        <button type="button" class="products__btn">
          <svg class="next-btn">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item--yellow">
        <div class="box">
          <picture>
            <source
              srcset="
                ./images/desktop/product2.png    1x,
                ./images/desktop/product2@2x.png 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/tablet/product2.png    1x,
                ./images/tablet/product2@2x.png 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/mobile/product2.png    1x,
                ./images/mobile/product2@2x.png 2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="./images/mobile/product2.png"
              alt="product2"
              class="products__photo"
            />
          </picture>

          <h3 class="products__title">ice coffee</h3>
          <svg class="products__icon">
          <p class="products__paragraph">
          Fragrant invigorating drink created from 100% natural ingredients without the use of preservatives and flavor enhancers
          </p>
        </div>
        <button type="button" class="products__btn">
          <svg class="next-btn">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
      <li class="products__item products__item--green">
        <div class="box">
          <picture>
            <source
              srcset="
                ./images/desktop/product3.png    1x,
                ./images/desktop/product3@2x.png  2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/tablet/product3.png     1x,
                ./images/tablet/product3@2x.png  2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ./images/mobile/product3.png     1x,
                ./images/mobile/product3@2x.png  2x
              "
              media="(min-width: 320px)"
            />
            <img
              src="./images/mobile/product3.png"
              alt="product3"
              class="products__photo"
            />
          </picture>

          <h3 class="products__title">milkshakes</h3>
          <p class="products__paragraph">
          Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other sweets of your choice
          </p>
        </div>
        <button type="button" class="products__btn">
          <svg class="next-btn">
            <use href="./images/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
